<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhoneBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhoneBook.styles.css" asp-append-version="true" />
    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/solid.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/solid.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/svg-with-js.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/svg-with-js.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/brands.css" rel="stylesheet" />
 <link href="~/lib/fontawesome/css/brands.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/swal/sweetalert2@11.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
